
.banner {
    text-align: center;
    background-color: #505050;
    padding: 20px;
}

.banner p {
    color: rgb(255, 214, 49);
    font-size: 80px;
    font-family: fantasy;
    display: inline;
}
