
.on {
    color:goldenrod;
  }
  
.off {
    color: grey;
}
  
.rate button {
    background: none;
    border: none;
    cursor: pointer;
}

.show-rating button {
    background: none;
    border: none;
}
  
.star {
    font-size: 2rem;
}