label {
    font-family: Arial;
    font-weight: 500;
    font-size: larger;
    margin-right: 10px;
}

input {
    font-family: Arial;
    font-weight: 500;
    font-size: larger;
    background-color: rgb(255, 243, 196);
}

select {
    font-family: Arial;
    font-weight: 500;
    font-size: larger;
    width: 100px;
    background-color: rgb(255, 243, 196);
}

.input-field {
    padding-bottom: 15px;
}