label {
    font-family: Arial;
    font-weight: 500;
    font-size: larger;
    margin-right: 10px;
}

input {
    font-family: Arial;
    font-weight: 500;
    font-size: larger;
}

select {
    font-family: Arial;
    font-weight: 500;
    font-size: larger;
    width: 100px;
}

.input-field {
    padding-top: 10px;
}