
.driver-profile {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
    
.driver-profile-container {
    background-color: rgb(255, 228, 122);
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 900px;
    width: 100%;
    overflow: hidden;
}

.driver-profile-picture {
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.driver-profile-picture img {
    max-width: 400px;  
    max-height: 400px; 
    width: auto;
    height: auto;
    border-radius: 10px;
}

.driver-profile-info {
    padding: 20px;
    overflow: hidden;
}

