
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    border: 3px solid #333;
    font-weight: 600;
}

.navbar a:hover {
    background-color: #ffffbd;
    color: #333;
}