.rides {
    display: flex;
    justify-content: center; 
    margin-top: 5%;
    height: 100vh;    
}

.rides-center {
    width: auto;
    min-width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;  
    align-items: center;    
}

.rides table {
    font-family: Arial;
    font-weight: 500;
    font-size: 25px;   
    width: 100%;
    border-collapse: collapse;
}

.rides th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;

}

.rides th {
    background-color: #e8e8e8;
}

.rides tr {
    background-color: #f9f9f9;
}

.rides tr:hover {
    background-color: #f1f1f1;
}